/target/**
/src/main/webapp/inline.bundle.js
/src/main/webapp/inline.bundle.js.map
/src/main/webapp/main.bundle.js
/src/main/webapp/main.bundle.js.map
/src/main/webapp/polyfills.bundle.js
/src/main/webapp/polyfills.bundle.js.map
/src/main/webapp/styles.bundle.js
/src/main/webapp/styles.bundle.js.map
/src/main/webapp/vendor.bundle.js
/src/main/webapp/vendor.bundle.js.map
/src/main/webapp/index.html
/src/main/webapp/favicon.ico
